.spinner {
  position: relative;
  pointer-events: none;
   @apply text-2xl h-12;
}

.spinner::after {
  content: '';
  position: absolute !important;
  top: calc(50% - (1em / 2));
  left: calc(50% - (1em / 2));
  display: block;
  width: 1em;
  height: 1em;
  border: 2px solid currentColor;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: spinAround 500ms infinite linear;
}

@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.offscreen-right {
    transform: translateX(100%);
    /* -webkit-transform: translateX(100%); */
}
.slide-in-left {
    animation: slide-in-left 0.5s forwards;
    /* -webkit-animation: slide-in-left 0.5s forwards; */
}

@keyframes slide-in-left {
    100% { transform: translateX(0%); }
}

/* @-webkit-keyframes slide-in-left {
    100% { -webkit-transform: translateX(0%); }
} */
    
.slide-out-right {
    animation: slide-out-right 0.5s forwards;
    /* -webkit-animation: slide-out-right 0.5s forwards; */
}

@keyframes slide-out-right {
    0% { transform: translateX(0%); }
    100% { 
        transform: translateX(100%);
        opacity: 0; 
    }
}

.fade-in {
	opacity: .65;
	animation-name: fadeInOpacity;
	animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
	animation-duration: 300ms; 
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .65
	}
}