.flashs-wrapper {
    @apply absolute top-0 right-0 mr-3 mt-3;
    left: 50%;
    transform: translateX(-50%);
}

.flash {
    @apply bg-white text-gray-700 px-4 py-3 rounded relative shadow;
    /* @apply transform transition-all translate-x-1/2 opacity-0 duration-300; */

    &.open {
        @apply opacity-100
    }

    .flash-close {

        svg {
            @apply h-6 w-6 fill-current text-gray-500
        }
    }

    &.error{
        @apply bg-red-100 text-red-700 ;

        .flash-close svg {
            @apply text-red-500
        }
    }

    &.info{
        @apply bg-blue-100 text-blue-700;

        .flash-close svg {
            @apply text-blue-500
        } 
    }

    &.success{
        @apply bg-green-100 text-green-700;

        .flash-close svg {
            @apply text-green-500
        } 
    }
} 

.offscreen-right {
    transform: translateX(100%);
    /* -webkit-transform: translateX(100%); */
}
.slide-in-left {
    animation: slide-in-left 0.5s forwards;
    /* -webkit-animation: slide-in-left 0.5s forwards; */
}

@keyframes slide-in-left {
    100% { transform: translateX(0%); }
}

/* @-webkit-keyframes slide-in-left {
    100% { -webkit-transform: translateX(0%); }
} */
    
.slide-out-right {
    animation: slide-out-right 0.5s forwards;
    /* -webkit-animation: slide-out-right 0.5s forwards; */
}

@keyframes slide-out-right {
    0% { transform: translateX(0%); }
    100% { 
        transform: translateX(100%);
        opacity: 0; 
    }
}
/* 
@-webkit-keyframes slide-out-right {
    0% { 
        -webkit-transform: translateX(0%); 
        opacity: 0; 
    }
    100% { 
        -webkit-transform: translateX(100%); 
        opacity: 0; 
    }
} */

.alerts-leave {
  opacity: 1;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
  height: 50px;
}

.alerts-leave.alerts-leave-active {
  overflow: hidden;
  opacity: 0.01;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  height: 0px;
  transition: opacity 300ms ease-in,
              padding-top 500ms ease-in,
              padding-bottom 500ms ease-in,
              margin-bottom 500ms ease-in,
              height 500ms ease-in;
}